<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form th:method="POST" th:object="${login}" th:action="@{/auth/login}">
    <input th:field="*{username}" id="username" type="text" class="field-custom" placeholder="Input user">
    <input th:field="*{password}" id="password-login" type="password" class="field-custom" placeholder="Input password">
    <button type="submit">Login</button>
</form>
</body>
</html>