<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<h1>
  you are login successful!
</h1>
<h2>
    information account
</h2>
<div sec:authorize="hasRole('ROLE_CUSTOMER')">Text visible to customer.</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">Text visible to admin.</div>
<div sec:authorize="hasRole('ROLE_MANAGER')">Text visible to manager.</div>
<div sec:authorize="isAuthenticated()">Text visible only to authenticated users.</div>
<div sec:authorize="isAuthenticated()">
    Username: <span sec:authentication="name"></span>
</div>
<div sec:authorize="isAuthenticated()">
    Roles: <span sec:authentication="principal.authorities"></span>
</div>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>